{% extends 'base.html.twig' %}

{% block body %}
    <h1>Societes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for societe in societes %}
            <tr>
                <td><a href="{{ path('societes_show', { 'id': societe.id }) }}">{{ societe.id }}</a></td>
                <td>{{ societe.nom }}</td>
                <td>{{ societe.ville }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('societes_show', { 'id': societe.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('societes_edit', { 'id': societe.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('societes_new') }}">Create a new societe</a>
        </li>
    </ul>
{% endblock %}
