{% extends 'base.html.twig' %}

{% block body %}
    <h1>Societe creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('societes_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('select2-4.0.3/dist/css/select2.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('select2-4.0.3/dist/js/select2.js') }}"></script>
    <script>
        $("#appbundle_societe_contacts").select2();
    </script>
{% endblock %}