{% extends "::base.html.twig" %}

{% block title %}{{ contact.prenom }} {{ contact.nom }}{% endblock %}

{% block body %}
    <h1>{{ contact.prenom }} {{ contact.nom | upper }}</h1>

    {% if contact.societe %}
        <p>Société :
            <a href="{{ path('app_societe_show', {'id': contact.societe.id}) }}">
                {{ contact.societe.nom }}
            </a>
        </p>
    {% endif %}

{% endblock %}
