{% extends "::base.html.twig" %}

{% block title %}{{ societe.nom }}{% endblock %}

{% block body %}
    <h1>{{ societe.nom }}</h1>
    <p>Ville : {{ societe.ville }}</p>
    <p>Contacts : </p>
    <ul>
        {% for c in societe.contacts %}
        <li>{{ c.prenom }} {{ c.nom }}</li>
        {% endfor %}
    </ul>
{% endblock %}
